header.intro-header(style="background-image: url('" + header_image + "')")
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                .site-heading
                    h1 #{title}
                    hr.small
                    span.subheading #{subtitle}
    //like button only for post view routes
    if post_view
        .row(style="position:relative;top:54px; margin-left:20px; margine-right:20px;")
            .text-right.col-md-9.col-lg-9(style="margin-top:20px")
                small(class='pull-left' ) #{created_at}
                each t in tags
                    a(href="#" style="font-family: helvetica, sans-serif; padding-left:10px") #{t}
            .col-md-3.pull-right.col-lg-3
                button(type="button" class="btn pull-right btn-info" id="btnLike" style="margin-right:40px", onClick='submitLike()')
                    i(class='badge' id='LikeNum' style="margin-right:10px") #{likeCount}
                    i(class="fa fa-thumbs-o-up" id='icnLike')
                    input(type='checkbox' id='chkLike' style='visibility:hidden')



nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                |                     Menu
                i.fa.fa-bars
            a.navbar-brand(href='/') VM Blogger
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='index.html') Home
                li
                    a(href='about.html') About
                li
                    a(href='post.html') Sample Post
                li
                    a(href='contact.html') Contact

