extends ../layout

block content
    style
        |.btn {
        |    display: inline-block;
        |    padding: 6px 12px;
        |    margin-bottom: 0;
        |    font-size: 14px;
        |    font-weight: normal;
        |    line-height: 1.42857143;
        |    text-align: center;
        |    white-space: nowrap;
        |    vertical-align: middle;
        |    -ms-touch-action: manipulation;
        |    touch-action: manipulation;
        |    cursor: pointer;
        |    -webkit-user-select: none;
        |    -moz-user-select: none;
        |    -ms-user-select: none;
        |    user-select: none;
        |    background-image: none;
        |    border: 1px solid transparent;
        |    border-radius: 4px;
        |}

    .container
        .row
            .col-lg-8.col-md-10
                each p in posts
                    .post-preview
                        a(href='/posts/' + p.slug)
                            h2.post-title  #{p.title}
                            h3.post-subtitle  #{p.subtitle}
                        p.post-meta
                            |  on #{p.date}
                            | tags :
                            each t in p.tags
                                a(href='/search/tags/' + t)
                                    span.badge(style='margin:left: 200px') #{t}
                    hr
                ul.pager
                    li.next
                        a(href="/posts/index") Older Posts
                            span.glyphicon.glyphicon-arrow-right

            .col-lg-4.col-md-2(style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif")
                .panel.panel-default
                    .panel-heading Search
                    .panel-body
                        .input-group

                            input.form-control(type='text', placeholder='Search for...', id='txtSearch', onkeypress='handle(event)')
                            span.input-group-btn
                                button.btn(type='button', onclick="go()") Go!
                .panel.panel-info
                    .panel-heading Posts by tags
                    .panel-body(style='font-size:14px')
                        each t in tags
                            a(href='/search/tags/' + t)
                                span.glyphicon.glyphicon-tag #{t} &nbsp&nbsp

                .panel.panel-success
                    .panel-heading Top Rated Posts
                    .panel-body
                        ul.list-group
                            each pst in top
                                li.list-group-item
                                    a(href='/posts/' + pst.slug) #{pst.title}
    script
        | var go = function(){
        |    console.log($('#txtSearch').val());
        |    window.location.href = '/search/' + $('#txtSearch').val();
        | }
        |function handle(e){
        |    if(e.keyCode === 13){
        |        go();
        |    }
        |}
