doctype html
html(lang='en')
    include ../partials/head
    body

        header.intro-header(style="background-image: url('/img/search-bg.jpg')")
            .container(style='height:300px')
                .row
                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                        .site-heading
                            h1(style='margin-top:-40px') Search
                            hr.small
                            span.subheading Search results for #{qry}

        include ../partials/navbar

        .container
            .row
                .col-lg-8.col-md-10.col-lg-offset-2.col-md-offset-2
                    each p in posts
                        .post-preview
                            a(href='/posts/' + p.slug)
                                h2.post-title  #{p.title}
                                h3.post-subtitle  #{p.subtitle}
                            p.post-meta
                                |  on #{p.date}
                                | tags :
                                each t in p.tags
                                    a(href='/search/tags/' + t)
                                        span.badge(style='margin:left: 200px') #{t}
        br
        include ../partials/footer

        include ../partials/scripts